@import "group";

.mx-btn {
  // 覆盖默认 18px 的值
  font-size: 1rem;
  // 覆盖默认的 block 值，和 HTML 一致
  display: inline-block;
  // 通过普通行高和内边距撑开按钮，这样按钮内部文字换行后间距不会过大
  line-height: 1.5;
  padding: .5rem .75rem;

  &::after {
    // 隐藏默认的边框颜色，以便自定义颜色
    border-color: transparent;
  }

  &[disabled] {
    opacity: 0.65;
  }

  &-primary {
    color: var(--mx-colors-primary-fg-500);
    background: var(--mx-colors-primary-500);
  }

  &-secondary {
    color: var(--mx-colors-secondary-fg-500);
    background: var(--mx-colors-secondary-500);
  }

  &-outline-primary {
    color: var(--mx-colors-primary-500);
    background: var(--mx-colors-primary-fg-500);

    &::after {
      border-color: var(--mx-colors-primary-500);
    }
  }

  &-outline-secondary {
    color: var(--mx-colors-secondary-500);
    background: var(--mx-colors-secondary-fg-500);

    &::after {
      border-color: var(--mx-colors-secondary-500);
    }
  }

  &-sm {
    font-size: .875rem;
    padding: .25rem .5rem;
  }

  &-xs {
    font-size: .75rem;
    padding: .125rem .25rem;
  }
}
